<h1 class="underline title-page">
  EMAG
  <br>Generator Data
</h1>

<p>Fill the filds for send your message.</p>

<form action="" class="mt-5">
  <div class="row">
    <div class="col col-xs-12">
      <label for="north">North:</label>
      <input type="text" id="north" name="north" class="form-control" placeholder="North">
    </div>
    <div class="col col-xs-12">
      <label for="east">East:</label>
      <input type="text" class="form-control" placeholder="East">
    </div>
    <div class="col col-xs-12">
      <label for="south">South:</label>
      <input type="text" id="south" name="south" class="form-control" placeholder="South">
    </div>
    <div class="col col-xs-12">
      <label for="west">West:</label>
      <input type="text" id="west" name="west" class="form-control" placeholder="West">
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <button class="btn btn-primary btn-block">Generator datas</button>
    </div>
  </div>
</form>

<app-do-you-need-help></app-do-you-need-help>